body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    width: 80px;
    background-color: black;
    height: 100vh;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.server-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
}

.server-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.server-name {
    display: none;
    position: absolute;
    background-color: #18191c;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    left: 70px;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
}

.server-icon:hover .server-name {
    display: block;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #343434;
    color: #dcddde;
    display: flex;
    flex-direction: column;
}

.menu-bar {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow-x: auto;
    white-space: nowrap;
}

.menu-item {
    margin-right: 20px;
    color: #dcddde;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.menu-item:hover {
    text-decoration: underline;
}

.server-details {
    background-color: #2f3136;
    padding: 20px;
    border-radius: 5px;
    display: none;
}

.server-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.server-header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #2196f3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.99s ease-out;
    z-index: 1000;
}
.card {
    width: 330px;
    height: 80px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px 15px;
    background-color: #494949;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    font-family: sans-serif;
}
.wave {
    position: absolute;
    transform: rotate(90deg);
    left: -31px;
    top: 32px;
    width: 80px;
    fill: white;
    /* Default color */
}
.icon-container {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 8px;
}
.icon {
    font-size: 17px;
}
.message-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
}
.message-text,
.sub-text {
    margin: 0;
    cursor: default;
}
.message-text {
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
}
.sub-text {
    font-size: 14px;
    color: #ffffff;
}
.cross-icon {
    width: 18px;
    height: 18px;
    color: #555;
    cursor: pointer;
}
.notify-info {
    background-color: #007bff;
    color: #ffffff;
}
.notify-success {
    background-color: #28a745;
    color: #ffffff;
}
.notify-warn {
    background-color: #ffc107;
    color: #000000;
}
.notify-error {
    background-color: #dc3545;
    color: #ffffff;
}
.icon-info {
    color: #ffffff;
}
.icon-success {
    color: #ffffff;
}

.icon-warn {
    color: #000000;
}

.icon-error {
    color: #ffffff;
}