<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pyropixle | Baxi Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="icon" type="image/x-icon" href="https://baxi-backend.pyropixle.com/_images_/pyro.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="{{ url_for('static', filename='js/loader.js') }}"></script>
</head>

<body>
    <div id="overlay">
        <iframe id="iframe" src="https://pyropixle.com/baxi_logon/"
            style="width: 100%; height: 100%; border: none;"></iframe>
    </div>

    <div class="sidebar">
        {% if guild_details %} {% for guild in guild_details %}
        <div class="server-icon" onclick="loadServerDetails('{{ guild.id }}')">
            <img src="{{ guild.icon_url }}" alt="{{ guild.name }}" />
            <span class="server-name">{{ guild.name }}</span>
        </div>
        {% endfor %} {% endif %}
    </div>
    <div class="content">
        <h1>Baxi Dashboard</h1>
        <div id="menu-bar" class="menu-bar"></div>
        <div id="server-details" class="server-details"></div>
        <div id="notification-card" class="card notify-info" style="display:none;">
            <svg id="wave" class="wave" viewBox="0 0 1440 320" xmlns="http://www.w3.org/2000/svg">
                <path fill="currentColor" fill-opacity="1"
                    d="M0,128L30,122.7C60,117,120,107,180,106.7C240,107,300,117,360,144C420,171,480,213,540,213.3C600,213,660,171,720,170.7C780,171,840,213,900,208C960,203,1020,149,1080,154.7C1140,160,1200,224,1260,213.3C1320,203,1380,117,1440,94.7L1440,32L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z">
                </path>
            </svg>
            <div id="icon-container" class="icon-container">
                <i id="icon" class="icon fas"></i>
            </div>
            <div class="message-text-container">
                <p id="message-text" class="message-text">Loading...</p>
                <p id="sub-text" class="sub-text">Let me think!</p>
            </div>
            <i class="cross-icon fas fa-times" onclick="closeNotification()"></i>
        </div>
        <div id="content-area" class="content-area">
            <label id="toggle-switch" class="switch" style="display: none;">
                <input type="checkbox" id="toggle-input" />
                <span class="slider"></span>
            </label>
            <div id="text-output" class="text-output"></div>
            <button id="save-button" style="display: none;" onclick="saveChanges()">Save</button>
        </div>
    </div>
  

    <!--Api Endpoints-->
    <script id="menu-data" type="application/json">
        {
            "menu_items": [
                {
                    "name": "Anti Raid",
                    "id": "anti_raid",
                    "endpoints": {
                        "load": "https://baxi-backend.pyropixle.com/api/dash/settings/load/anti_raid/{guild_id}",
                        "save": "https://baxi-backend.pyropixle.com/api/dash/settings/save/anti_raid/{guild_id}"
                    }
                },
                {
                    "name": "Minigame guessing",
                    "id": "Minigame guessing",
                    "endpoints": {
                        "load": "https://baxi-backend.pyropixle.com/api/dash/settings/load/mgg/{guild_id}",
                        "save": "https://baxi-backend.pyropixle.com/api/dash/settings/save/mgg/{guild_id}"
                    }
                },
                {
                    "name": "Counting game",
                    "id": "countgame_data",
                    "endpoints": {
                        "load": "https://baxi-backend.pyropixle.com/api/dash/settings/load/mgc/{guild_id}",
                        "save": "https://baxi-backend.pyropixle.com/api/dash/settings/save/mgc/{guild_id}"
                    }
                },
                {
                    "name": "Global chat",
                    "id": "gc",
                    "endpoints": {
                        "load": "https://baxi-backend.pyropixle.com/api/dash/settings/load/gc/{guild_id}",
                        "save": "https://baxi-backend.pyropixle.com/api/dash/settings/save/gc/{guild_id}"
                    }
                },
                {
                    "name": "Welcome system",
                    "id": "welc",
                    "endpoints": {
                        "load": "https://baxi-backend.pyropixle.com/api/dash/settings/load/welc/{guild_id}",
                        "save": "https://baxi-backend.pyropixle.com/api/dash/settings/save/welc/{guild_id}"
                    }
                },
                {
                    "name": "Verify system",
                    "id": "verify",
                    "endpoints": {
                        "load": "https://baxi-backend.pyropixle.com/api/dash/settings/load/verify/{guild_id}",
                        "save": "https://baxi-backend.pyropixle.com/api/dash/settings/save/verify/{guild_id}"
                    }
                },
                {
                    "name": "Suggestion system",
                    "id": "Suggestions",
                    "endpoints": {
                        "load": "https://baxi-backend.pyropixle.com/api/dash/settings/load/sugg/{guild_id}",
                        "save": "https://baxi-backend.pyropixle.com/api/dash/settings/save/sugg/{guild_id}"
                    }
                },
                {
                    "name": "Ticket system",
                    "id": "ticket",
                    "endpoints": {
                        "load": "https://baxi-backend.pyropixle.com/api/dash/settings/load/ticket/{guild_id}",
                        "save": "https://baxi-backend.pyropixle.com/api/dash/settings/save/ticket/{guild_id}"
                    }
                },
                {
                    "name": "Log system",
                    "id": "log",
                    "endpoints": {
                        "load": "https://baxi-backend.pyropixle.com/api/dash/settings/load/log/{guild_id}",
                        "save": "https://baxi-backend.pyropixle.com/api/dash/settings/save/log/{guild_id}"
                    }
                },
                {
                    "name": "Security system",
                    "id": "sec",
                    "endpoints": {
                        "load": "https://baxi-backend.pyropixle.com/api/dash/settings/load/sec/{guild_id}",
                        "save": "https://baxi-backend.pyropixle.com/api/dash/settings/save/sec/{guild_id}"
                    }
                }
            ]
        }
    </script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>


</body>

</html>
